/****************************************************************
GLOBALS
****************************************************************/
body {
	background: #d8d8d8 url('../img/bg.png');
	background-repeat: repeat-x;
	background-attachment: fixed;
	
	height: 100%;
	
	font-family: Arial;
	font-size: 1em;
	
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 2.5em;
	color: #003bbc;
	text-align: center;
	font-weight: normal;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.7em;
	color: #003bbc;
	font-weight: normal;
}

a img{
	border: 0;
}

a {
	color: #003bbc;
}

a:hover, a:active, a:visited:hover, a:visited:active {
	color: red;
	text-decoration: none;
}

a:visited {
	color: #274c9b;
}

ul {
	list-style-image: none;
	list-style-type: none;
}

ul ul {
	list-style-image: none;
	list-style-type: none;
}

/* CUSTOM ELEMENTS */

.mobileonly {
	display: none;
	visibility: hidden;
}

.slider_window {
	position: relative;
	width: 100%;
	height: 430px;
}
.slider {
	position: relative;
	width: auto;
	height: 430px;
}

.slider_panel {
	display: inline_block;
	
	float: left;
	margin: 5px;
	width: 100%;
	height: 430px;
}

.graphic_header {
	display: block;
	
	
	width: 580px;
	height: 158px;
	margin: 5px auto;
	
	position: relative;
	z-index: 1;
	
	text-align: center;
}

.graphic_header h2 {
	display: block;
	
	position: absolute;
	
	font-size: 3em;
	font-weight: bold;
	
	text-shadow: 2px 2px 6px black;
}


#profile_header {
	background: url('../img/indexphoto.png');
	background-repeat: no-repeat;
}

#profile_header h2 {
	top: 10px;
	left: 160px;
	color: white;
}

#xppreview_header {
	background: url('../img/xppreview.png');
	background-repeat: no-repeat;
}

#xppreview_header h2 {
	left: 100px;
	top: 10px;
}
/****************************************************************
LAYOUT
****************************************************************/

#main {
	background: white;
	width: 620px;
	height: 450px;
	padding: 0;
	
	position: absolute;
	left: 50%;
	top: 90px;
	margin-left: -320px;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	-moz-box-shadow: 2px 2px 15px rgb(10, 10, 20);
	-webkit-box-shadow: 2px 2px 15px rgb(10, 10, 20);
	box-shadow: 2px 2px 15px rgb(10, 10, 20);
}

#logo {
	position: absolute;
	left: -79px;
	top: -68px;
	z-index: 2;
}

#textwrapper {
	width: auto;
	height: 430px;
	overflow: auto;
	padding: 10px;
}


/* NAV */

.nav {
	font-family:  'Raleway', sans-serif;
	font-size: 1.8em;
	list-style: none;
	text-align: right;
	
	display: block;
	position: absolute;
	left: -136px;
	top: 100px;
	width: 100px;
}

.nav a {
	text-decoration: none;
	font-weight: normal;
	color: black;
	padding-right: 10px;
	border-right: 4px solid white;
	float: right;
	
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

#home .homenav a, #exp .expnav a, #res .resnav a, #contact .contactnav a {
	color: #274c9b;
	border-right: 4px solid #274c9b;
	padding-right: 5px;
	cursor: default;
}

.nav a:hover {
	color: #274c9b;
	padding-right: 5px;
	border-right: 4px solid #274c9b;
}

/* FOOTER */

#footer {
	display: block;
	width: 100%;
	height: 198px;
	
	background-image: url('../img/footer.png');
	background-repeat: repeat-x;
	
	position: fixed;
	bottom: -20px;
	z-index: -1;
	
	margin: 0;
	padding: 0;
}

/****************************************************************
MOBILE
****************************************************************/

@media screen and (max-width: 900px) {
	
	/* MOBILE LAYOUT */
	.mobileonly {
		display: inline;
		visibility: visible;
	}
	
	body {
		background: #f0f0f0 url('../img/footer.png');
		background-attachment: fixed;
		background-repeat: repeat-x;
		background-position: center bottom;
	}
	
	#logo {
		display: block;
		position: absolute;
		top: 8px;
		left: 50%;
		margin-left: -75px;
	
		width: 150px;
		padding: 0;
	}
	
	#main {
		position: static; 
		width: auto;
		height: auto;
		margin: 60px 30px;
		top: 0;
		padding-top: 65px;
		padding-bottom: 10px;
	}
	
	#textwrapper {
		height: auto;
	}
	
	.graphic_header {
		width: auto;
	}
	
	/* MOBILE NAV */
	.nav {
		position: static;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		
		font-size: auto;
		text-align: center;
		width: 100%;
	}
	
	.nav li {
		display: inline-block;
	}
	
	.nav a {		
		text-decoration: none;
		color: #5a5a5a;
		padding: 0;
		border-right: 0 none;
		border-bottom: 2px solid white;
		float: none;
	}
	
	.nav a:hover, .nav a:active, .nav a:focus {
		border: none;
		color: #003bbc;
		border-bottom: 2px solid #003bbc;
		padding-right: 0px;
		margin-bottom: 5px;
		
	}
	
	#home .homenav a, #exp .expnav a, #res .resnav a, #contact .contactnav a {
		color: #b6b6b6 !important;
		border: 0;
	}
	
	/* MOBILE FOOTER */
	
	#footer {
		display: none;
	}
	
}